.header {
    position: relative;
    margin-bottom: 35px;
    border-bottom: 1px solid #666;
    background-color: #1f2531;

}

.header__logo {
    width: 280px;
    height: 195px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.header__title {
    color: #ffffff;
    font-family: Georgia;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.header__text {
    color: #ffffff;
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
}

.header__nav {
    padding: 55px 0;
    text-align: right;


}

.header__nav-item {
    color: #666666;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    border-left: 1px solid #666;
    position: relative;
    white-space: nowrap;

    &:last-child {
        padding-right: 0;
    }

    &:first-child {
        padding-left: 0;
        border-left: none
    }

    &:hover {
        color: #ffffff;
    }

    &:hover::before {
        color: #ffffff;
        content: "";
        width: 70%;
        height: 4px;
        background-color: $red;
        top: -57px;
        position: absolute;
    }

    &:active {
        color: #ffffff;

    }
}

@media (max-width: 900px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .header__logo {
        width: 280px;
        max-height: 124px;
        border-radius: 0;
        position: static;
        background-color: $red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .header__nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;


    }

    .header__nav-item {
        border: none;
        text-align: center;
        padding: 10px 0;

        &:hover::before {
            color: #ffffff;
            content: "";
            width: 70%;
            height: 4px;
            background-color: $red;
            top: -7px;
            position: absolute;
        }
    }

}

@media (max-width: 710px) {
    .header {
        position: fixed;
        width: 95%;
        margin-bottom: 50px;
        flex-direction: row;
        z-index: 100;

    }

    .header__nav-item {
        border: none;
        text-align: center;
        padding: 10px 0;

        &:hover::before {
            color: #ffffff;
            content: "";
            width: 4px;
            height: 67%;
            background-color: $red;
            right: -10px;
            top: 2px;
            position: absolute;
        }
    }

    .header__title {

        font-size: 32px;
        margin-bottom: 20px;
    }

    .header__logo {
        width: 230px;
    }
}