@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
@import "../blocks/modules/intro/intro";


* {
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    background-color: #f0f0f0;
}

.site-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Georgia';
    background-color: #1f2531;
    padding: 0 20px;
}